body {
  background-color: rgb(253, 251, 251);
  margin: 0px;
  padding: 0px;
}

header {    
  position: fixed;
  top: 0px;
  margin-left: 0px;     
  background-color: #0f8a0f;
  width: 100%;
  z-index: 1;
}

#titulo {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, monospace;
  font-size: 34px;
}

main {
  margin-top: 80px;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;        
}

nav {    
  background-color: #800080;    
  height: 30px;
  padding-top: 10px;    
  color: #ffffff;
  padding-left: 10px;
  font-weight: 600;
}

nav a {
  display: inline;
  color: #ffffff;
  margin-right: 20px;
}

.autor {
  padding-top: 10px;
  width: 530px;
  display: inline-block;    
}

.autor p {    
  font-size: 18px;
  margin-top: 0px;
  text-align: center;
  color: #0f8a0f;
}

#minha_foto {
  padding: 10px;
  border-radius: 100%;
}

.tabela {
  display: inline-block;
  width: 40%;
  height: 50%;
  position: relative;
  top: -200px;
  margin-left: 40px;
  overflow: auto;
  font-family: monospace;
  font-weight: 600;
}

.tabela-titulo{
  width: 100%;
  text-align: center;
}

.tabela tr {
  background-color: #ffff00;
}

.tabela .conteudos .fundamentos {
  background-color: #0f8a0f;
  text-align: center;
  color: #ffffff;
}

.tabela .conteudos .frontend, .backend, .cs {
  background-color: #ff0000;
  text-align: justify-center;
  color: #ffffff;
}

.licoes {    
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 0px;
  font-family: monospace;        
}

.licoes h2 {    
  text-align: justify-center;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: -80%;
}

.licoes ol {
  width: 40%;
  padding-left: 48px;
  padding-right: 10px;
  padding-bottom: 10px;
  
}

.licoes ul {
  width: 40%;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  
}

.licoes li {
  text-align: center;
  list-style-position: inside;
}

#licoes_aprendidas {
  display: inline-block;
  font-size: 18px;
  background-color: #800080;
  color: #ffffff;
}

#licoes_a_aprender {
  display: inline-block;
  font-size: 18px;
  background-color: #800080;
  color: #ffffff;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-left: 50px;
  list-style: square;
}

h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
  color: #0f8a0f;
}

#aprendizados {
  height: 150px;
  
  padding: 10px;
  margin: 5px;
  display: block;
  position: relative;               
}

#aprendizados::after {
  clear: both;
}

.lado-esquerdo {
  width: 50%;    
  left: 5px;    
  float: left;    
  position: relative;    
  padding: 5px;
  font-size: 18px;
  text-align: justify;
}

.lado-direito {
  width: 30%;     
  left: 10px;
  float: right; 
  position: relative;    
  padding: 5px;    
  margin-right: 10px;    
  font-size: 18px;
  text-align: justify;
  background-color: #0f8a0f;
  color: #ffffff;
}

#rodape {
  margin-top: 10px;
  background-color: #800080;
  display: block;
  color: #ffffff;
  line-height: 30px;
  position: relative;
  font-size: 20px;
  padding-left: 10px;
}
