body {
  background-color: rgb(253, 251, 251);
  margin: 0px;
  padding: 0px;
}

header {    
  position: fixed;
  top: 0px;
  margin-left: 0px;     
  background-color: #0f8a0f;
  width: 100%;
  z-index: 1;
}

#titulo {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, monospace;
  font-size: 34px;
}

main {
  margin-top: 80px;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;        
}

nav {    
  background-color: #800080;    
  height: 30px;
  padding-top: 10px;    
  color: #ffffff;
  padding-left: 10px;
  font-weight: 600;
}

nav a {
  display: inline;
  color: #ffffff;
  margin-right: 20px;
}

.autor {
  width: 530px;
  display: inline-block;
  
}

.autor p {
  
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
}

#minha_foto {
  padding: 10px;
  border-radius: 100%;
}

.tabela {
  display: inline-block;
  width: 50%;
  height: 50%;
  position: relative;
  top: -300px;
  margin-left: 40px;    
}

.tabela tr {
  background-color: #ffff00;
}

.tabela .conteudos .fundamentos {
  background-color: #0f8a0f;
}

.tabela .conteudos .frontend, .backend, .cs {
  background-color: #ff0000;
}

h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
  color: #0f8a0f;
}

#aprendizados {
  height: 150px;
  border: 3px solid purple;
  padding: 10px;
  display: block;
  position: relative;               
}

#aprendizados::after {
  clear: both;
}

.lado-esquerdo {
  width: 50%;
  border: 3px solid red;
  left: 5px;    
  float: left;    
  position: relative;    
  padding: 5px;
  font-size: 20px;
  text-align: justify;
}

.lado-direito {
  width: 30%;    
  border: 3px solid #8a8a99;
  right: 5px;
  left: 10px;
  float: right; 
  position: relative;    
  padding: 5px;
  margin-right: 5px;    
  font-size: 20px;
  text-align: justify;
  background-color: #0f8a0f;
  color: #ffffff;
}

#rodape {
  margin-top: 10px;
  background-color: #800080;
  display: block;
  color: #ffffff;
  line-height: 30px;
  position: relative;
  font-size: 20px;
  padding-left: 10px;
}
