body {
  background-color: rgb(253, 251, 251);
  
}

header {    
  position: fixed;
  top: 0px;
  margin-left: 0px;     
  background-color: #0f8a0f;
  width: 100%;
  z-index: 1;
}

#titulo {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, monospace;
  font-size: 34px;
}

main {
  margin-top: 80px;
  position: relative;
  display: block;
  height: 100%;
  border: 3px solid blue;
  width: 100%;    
}

nav {    
  background-color: #800080;
  border: 3px solid red;
  height: 50px;
  padding-top: 10px;    
  color: #ffffff;
  padding-left: 10px;
  font-weight: 600;
}

nav a {
  display: inline;
  color: #ffffff;
  margin-right: 20px;
}

#rodape {
  background-color: #800080;
  color: #ffffff;
  line-height: 30px;
}


